In [2]:
import pandas as pd
import numpy as np
from numba import njit

In [3]:
sept = pd.read_pickle('sept.pickle')
sept

             text   str  verse  chapter  book      rmac
0             εν   1722      1        1     1      prep
1           αρχη    746      1        1     1     n-dsf
2       εποιησεν   4160      1        1     1  v-aai-3s
3              ο   3588      1        1     1     t-nsm
4           θεος   2316      1        1     1     n-nsm
...           ...   ...    ...      ...   ...       ...
475394      ελθω   2064      6        4    39  v-aas-1s
475395       και   2532      6        4    39      conj
475396    παταξω   3960      6        4    39  v-fai-1s
475397       την   3588      6        4    39     t-asf
475398       γην   1065      6        4    39     n-asf

[430374 rows x 6 columns]

In [4]:
nt = pd.read_pickle('tisch')  # from Isaac's PS1
nt

,rmac,str,gr,STYLE,Speech:,Case:,Number:,Gender:,Degree:,Form:,Tense:,Voice:,Mood:,Person:
0,a-apf,2117.0,εὐθείας,None,Adjective,Accusative,Plural,Feminine,NaN,NaN,NaN,NaN,NaN,NaN
1,a-apf,3956.0,πάσας,None,Adjective,Accusative,Plural,Feminine,NaN,NaN,NaN,NaN,NaN,NaN
2,a-apf,4183.0,πολλὰς,None,Adjective,Accusative,Plural,Feminine,NaN,NaN,NaN,NaN,NaN,NaN
3,a-apf,3956.0,πάσας,None,Adjective,Accusative,Plural,Feminine,NaN,NaN,NaN,NaN,NaN,NaN
4,a-apf,5140.0,τρεῖς,None,Adjective,Accusative,Plural,Feminine,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137486,x-nsn,5100.0,τι,None,indefinite,Nominative,Singular,Neuter,NaN,NaN,NaN,NaN,NaN,NaN
137487,x-nsn,5100.0,"τι,",None,indefinite,Nominative,Singular,Neuter,NaN,NaN,NaN,NaN,NaN,NaN
137488,x-nsn,5100.0,τι,None,indefinite,Nominative,Singular,Neuter,NaN,NaN,NaN,NaN,NaN,NaN
137489,x-nsn,5100.0,τι,None,indefinite,Nominative,Singular,Neuter,NaN,NaN,NaN,NaN,NaN,NaN
137490,x-nsn,5100.0,τι,None,indefinite,Nominative,Singular,Neuter,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
@njit(parallel=True)
def _find_matching_ngrams(left, right, min_n=5):
    '''
    Helper function for `find_matching_ngrams`
    This does the actual computation, operating on numpy arrays
    '''
    found_values = []
    lidx = 0
    while lidx < len(left):
        for ridx in range(len(right)):
            length = 0
            while right[ridx + length] == left[lidx + length]:
                length += 1
            if length >= min_n:
                found_values.append((lidx, ridx, length))
                lidx += length-1
        lidx += 1
    found = np.array(found_values)
    return found[:, 0], found[:, 1], found[:, 2]


def find_matching_ngrams(left, right, min_n=5):
    '''
    Itererate `n` from `max_n` to `min_n` (inclusive). For each n-gram in `left`, look for matching occurances in `right`
    '''
    left_ids, right_ids, lengths = _find_matching_ngrams(np.array(left), np.array(right), min_n)
    return pd.DataFrame({'left_id': left_ids, 'left_len': lengths, 'right_id': right_ids, 'right_len': lengths})

In [21]:
find_matching_ngrams(sept['str'], nt['str'])

/home/finally/Old-Testament-References/env/lib/python3.13/site-packages/numba/core/typed_passes.py:338: NumbaPerformanceWarning:
The keyword argument 'parallel=True' was specified but no transformation for parallel execution was possible.

To find out why, try turning on parallel diagnostics, see https://numba.readthedocs.io/en/stable/user/parallel.html#diagnostics for help.

File "../../../tmp/ipykernel_5843/48240416.py", line 1:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaPerformanceWarning(msg,

     left_id  left_len  right_id  right_len
0       4764         6     13938          6
1       4804         5     13937          5
2       5031         6     13938          6
3       5036         5     13939          5
4      12896         6     13938          6
..       ...       ...       ...        ...
102   254363         6     13938          6
103   257141         6     13938          6
104   343913         5     13938          5
105   363867         5     13938          5
106   374556         5     13938          5

[107 rows x 4 columns]

In [34]:
sept.iloc[12896:12896+6]['text']

14066    και
14068    και
14070    και
14072    και
14074    και
14076    και
Name: text, dtype: object

In [35]:
nt.iloc[13938:13938+6]['gr']

13938    καὶ
13939    καὶ
13940    καὶ
13941    καὶ
13942    καὶ
13943    καὶ
Name: gr, dtype: object

In [43]:
sept.iloc[363867:363867+5]['text']

402998    και
403000    και
403002    και
403004    και
403007    και
Name: text, dtype: object