In [2]:
import pandas as pd
import numpy as np

In [3]:
tisch = pd.read_pickle('tisch')
sept = pd.read_pickle('sept.pickle')

In [7]:
nameless = pd.concat(
    [tisch[tisch['str'].isna()],
    sept[sept['str'].isna()]]
)

In [8]:
nameless

            text   str verse chapter book   rmac
3763      δούλῳ   None     9       8   40  n-dsm
5247     δοῦλος   None    24      10   40  n-nsm
5263     δοῦλος   None    25      10   40  n-nsm
7412     δοῦλοι   None    27      13   40  n-npm
7440     δοῦλοι   None    28      13   40  n-npm
...          ...   ...   ...     ...  ...    ...
135619   δοῦλοι   None     5      19   66  n-npm
135934   δούλων   None    18      19   66  n-gpm
137085     μῆνα   None     2      22   66  n-asm
137119   δοῦλοι   None     3      22   66  n-npm
137188  δούλοις   None     6      22   66  n-dpm

[173 rows x 6 columns]

In [4]:
print((tisch['str'].value_counts().sum()))

137329

In [5]:
nameless = tisch[tisch['str'].isna()]

In [6]:
nameless

            text   str verse chapter book   rmac
3763      δούλῳ   None     9       8   40  n-dsm
5247     δοῦλος   None    24      10   40  n-nsm
5263     δοῦλος   None    25      10   40  n-nsm
7412     δοῦλοι   None    27      13   40  n-npm
7440     δοῦλοι   None    28      13   40  n-npm
...          ...   ...   ...     ...  ...    ...
135619   δοῦλοι   None     5      19   66  n-npm
135934   δούλων   None    18      19   66  n-gpm
137085     μῆνα   None     2      22   66  n-asm
137119   δοῦλοι   None     3      22   66  n-npm
137188  δούλοις   None     6      22   66  n-dpm

[173 rows x 6 columns]

KeyError: 'Speech:'